

.square {
  background: #f1f0f0;
  border: 1px solid #292626;
  float: left;
  font-size: 75px;
  font-weight: bold;
  line-height: 34px;
  height: 200px;
  width: 200px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
 
  
}
.square.winner {
  color: #00ff62;
  font-size: 150px;
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  position: relative;
  margin-bottom: 30px;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  
}

.game {
  display: flex;
  flex-direction: row;
  margin-left: 500px;
}

.game-info {
  font-size: 25px;
  margin-top: 200px;
  margin-left: 50px;
}
